### ベルカ
<kbd>
<a href="https://www.youtube.com/results?search_query={{searchQuery}}" target="_blank">
    <img align="left" width="80" height="80" src="{{thumbnail}}">
</a>

</br><br align="center"><img height="16" width="16" src="assets/listening.png"> {{listenText}}<b><a href="https://www.youtube.com/results?search_query={{searchQuery}}" target="_blank">{{artist}} - {{title}}</a> </b></p>
</kbd>
