### ベルカ

<a href="https://www.youtube.com/results?search_query={{searchQuery}}" target="_blank">
    <img align="left" width="100" height="100" src="{{thumbnail}}">
</a>
<big>
    <pre>
</br><p align="left"><img height="32" width="32" src="https://user-images.githubusercontent.com/49416514/174811527-35b34ea6-39aa-44b7-bb53-fc05818bb243.png">{{listenText}}<b><a href="https://www.youtube.com/results?search_query={{searchQuery}}" target="_blank">{{artist}} - {{title}}🔗</a> </b></p>
</pre></big>
<img height="16" width="16" src="assets/listening.png">