### ベルカ


<big>
    <pre>
        <a align="left" href="https://www.youtube.com/results?search_query={{searchQuery}}" target="_blank">
            <img border="5" align="left" width="100" height="100" src="{{thumbnail}}">
        </a><p align="right">{{prefix}} {{listenText}}<b><a href="https://www.youtube.com/results?search_query={{searchQuery}}" target="_blank">{{artist}} - {{title}}</a> 🔗</b></p>
</pre></big>